
.about-me{
  #AboutMe{
    @include section();
  }

  &__article{
    padding: 0 2em 1em 2em;
    @include screen(){
      @include grid(2)
    }
    .article{
      &__figure{
        img{
          @include img();
        }
      }

      &__text-container{
        margin-top: 3em;
        width: 100%;
        >P{
          margin: .75em 0;
        }
        >button{
          padding: .5em 2em;
          color: map-get($Colors, 'ColorBlackHigh' );
          background-color: map-get($Colors, 'Complementario');
        }
      }
    }
  }


  &__languages-icons-container{
    >ul{
      padding: 1em 0 2em 0;
      @include autoFill(7em,1fr, 2em 0);
      >li{
        @include flex(column, space-between);
        >a{
          text-align: center;
          color: map-get($Colors, 'ColorBlackHigh');
        }
      }
    }
  }
}
