.resume{
  @include wh(100%,auto);

  &__container{
    @include wh(100%,25em);
    @include flex(column,center,start);
    padding-left:2em;
    overflow: hidden;

    span,h1{
      color:map-get($Colors, 'Complementario');
    }
  }

  &__btn{
  @include wh(100%,3em);
  @include grid(2);

    #more{
      background-color: map-get($Colors, 'Complementario');
      color:map-get( $Colors, 'ColorBlackHigh');
    }

    #hireMe{
      background-color: map-get($map: $Colors, $key: 'ColorBlackHigh');
      color: map-get($Colors, 'Complementario');
    }
  }
}

