@use './../colors' as *;
@use './../variables' as *;

// ************************** styles *********************************************
.wrapper{

  width: calc(100vw - (100vw - 100%));
  height: 100vh;
}

// ************************** breakpoint large *************************************

@include screen($large){
  .container {
    width: 1200px;
    position: relative;
    margin: 0 auto;
  }
}

.light{
  background-color: $backgrond-light-principal;
}