@use './../variables' as *;
@use './../colors' as *; 

.education{
  @include section();

  &__container{
    width: 100%;
    height: auto;

    .article{
      width: 100%;
    }
  }
}

// ************************** breakpoint medium ******************************
// ************************** breakpoint large *******************************
// ************************** font size and family ***************************
// ************************** theme colors ***********************************

.light{
  background-color: $backgrond-dark-secondary ;
}