//background-colors
$backgrond-light-principal: #F6D155;
$backgrond-light-secondary: #ff6f61;
$backgrond-dark-principal: #222222;
$backgrond-dark-secondary: #fff;

// text-colors
$color-light-principal: #fff;
$color-light-secondary: #ff6f61;
$color-dark-principal: #222222;   
$color-dark-secondary: #666666;

// form-colors
$form-light:#EFEFEF;
$form-gray:#495057;