@use './colors' as *; 

/********************** Breakpoints *****************************/
$medium : 42rem;// tablets
$large : 72rem; // pc

/********************** Mixins *********************************/

@mixin flex($flow: auto, $justify:auto, $align:auto) {
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($columns:auto, $gap:auto) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

@mixin autoFit($min, $max:1fr, $gap:0) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, $max));
  gap: $gap
}

@mixin screen($medida) {
  @media screen and (min-width:$medida){
    @content
  }
}

@mixin section {
  width: 100%;
  box-sizing: border-box;
  padding: 3.5rem 1.85rem;
  
  .sectionID{
    font-size: 2.15em;
    margin-bottom: 1rem;

    &::after{
      content: '';
      display: block;
      width: 3.125rem;
      height: 0.2rem;
      background: $color-light-secondary;
    }
  }
}