:root{
  scroll-behavior: smooth;
}

*,*::before,*::after{
  padding: 0;
  margin: 0;
  border: 0;
}

// ************************** breakpoint medium ******************************
// ************************** breakpoint large *******************************
// ************************** font size and family ***************************
// ************************** theme colors ***********************************